@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?djdj61');
	src:url('fonts/icomoon.eot?#iefixdjdj61') format('embedded-opentype'),
		url('fonts/icomoon.woff?djdj61') format('woff'),
		url('fonts/icomoon.ttf?djdj61') format('truetype'),
		url('fonts/icomoon.svg?djdj61#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-donut:before {
	content: "\e62a";
}
.icon-ribbon:before {
	content: "\e62b";
}
.icon-burger:before {
	content: "\e62c";
}
.icon-member-fdic:before {
	content: "\e629";
}
.icon-playcircle:before {
	content: "\e620";
}
.icon-no-fees:before {
	content: "\e624";
}
.icon-mobile-phone:before {
	content: "\e625";
}
.icon-line-graph:before {
	content: "\e626";
}
.icon-bar-graph:before {
	content: "\e627";
}
.icon-auto-renew:before {
	content: "\e628";
}
.icon-equals:before {
	content: "\e600";
}
.icon-ally:before {
	content: "\e601";
}
.icon-moneymail:before {
	content: "\e602";
}
.icon-mail:before {
	content: "\e603";
}
.icon-paperstack:before {
	content: "\e604";
}
.icon-maplocate:before {
	content: "\e605";
}
.icon-phone:before {
	content: "\e606";
}
.icon-piggybank:before {
	content: "\e607";
}
.icon-popmoney:before {
	content: "\e608";
}
.icon-transfer-ira:before {
	content: "\e609";
}
.icon-transfer:before {
	content: "\e60a";
}
.icon-a:before {
	content: "\e60b";
}
.icon-add:before {
	content: "\e60c";
}
.icon-alert:before {
	content: "\e60d";
}
.icon-ally_auto:before {
	content: "\e60e";
}
.icon-ally_bank:before {
	content: "\e60f";
}
.icon-bar:before {
	content: "\e610";
}
.icon-calendar:before {
	content: "\e611";
}
.icon-cancel:before {
	content: "\e612";
}
.icon-check:before {
	content: "\e613";
}
.icon-doc:before {
	content: "\e614";
}
.icon-doccheck:before {
	content: "\e615";
}
.icon-uarrow:before {
	content: "\e62d";
}
.icon-darrow:before {
	content: "\e62e";
}
.icon-larrow:before {
	content: "\e616";
}
.icon-link:before {
	content: "\e617";
}
.icon-lly:before {
	content: "\e618";
}
.icon-lock:before {
	content: "\e619";
}
.icon-magnify:before {
	content: "\e61a";
}
.icon-moneymagnify:before {
	content: "\e61b";
}
.icon-navbottom:before {
	content: "\e61c";
}
.icon-pause:before {
	content: "\e61d";
}
.icon-pausecircle:before {
	content: "\e61e";
}
.icon-play:before {
	content: "\e61f";
}
.icon-question:before {
	content: "\e621";
}
.icon-rarrow:before {
	content: "\e622";
}
.icon-settings:before {
	content: "\e623";
}
